.input-group{
    padding-bottom: 6px;
    
}

.registration_title{
    margin-bottom: 35px;
    margin-top: 15px
}

.container{
    border: 2px solid black;
    margin-top: 5px;
    padding-bottom: 5px;
}
